p{
	color: blue;
	
	
 }
 
h1{
	background-color: indigo;
	font-size: 200%; 
	text-align: Right; 
	border: 22px solid sky:

   }
   
  p.text {
  
  color: navy;
  background-color: violet;
  text-align: center;
  
  }
  
  
  p.tankar {
	  color: ForestGreen;
	  background-color: SeaGreen;
	  text-align: right;
	

	
	
   
